.color-button-green {
    background-color: rgba(97, 119, 243, 0.596);
    color: white;
  }

  .color-button-red {
    background-color: rgb(156, 48, 48);
    color: white;
  }

  .mat-header-cell-elemets {
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell-text {
    text-align: center;
    justify-content:center;
  }