section {
    display: table;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .button-row {
    display: table-cell;
    width: 490px;
  }
  
  .button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .padding {
    padding-left: 25px;
    padding-right: 25px;
  }
